table {
  width: 100%;

  th {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    height: 50px;
  }

  td {
    font-size: 20px;
    height: 48px;
  }

  td,
  th {
    padding: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
  }
}
